.review-content{
    background-color: rgb(240, 240, 240);

    border-radius: 5px;
    border-width: 1px;
    padding: 5px;
    height: 100%;
}
.review{

    border-width: 1px;
    padding: 5px;
    height: 100%;
}