<link rel="stylesheet" href="../../static/css/voteButton.css">
<link rel="stylesheet" href="../../static/css/base_review.css">

{% load static %}

<div class="row">
    <div class="col-sm-1 border text-center" style="background-color: rgb(230, 229, 229);" >
        <div class="vote-container">
            <!-- Bloque de upvotes: icono + numero -->
            <button type="button" class="upvote-button">
                <i class="fas fa-arrow-up"></i>
            </button>
            <p>0</p>
            <!-- Bloque de downvotes: icono + numero -->
            <button type="button" class="downvote-button">
                <i class="fas fa-arrow-down"></i>
            </button>
        </div>
    </div>
        <div class="col-md border text-break" onclick="window.location='/single_review/{{review.id}}'">
            <div class="py-4">
                <div>
                    <span> {{review.user_id}}</span>                    
                    <span> {{review.date}} </span>
                </div>
                <h5> {{review.venue}} </h5>
                <h6> {{review.sit_sector}} </h6>
                <p class="review-content"> {{review.content}} </p>
            </div>
        </div>
        {% if review.photo %}
        <div class="col-6 col-md-3">
            <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{review.photo.url}}">
        </div>
        {% endif %}
    </div>

    <script src="../../static/js/voteButton.js"></script>
    