    <div class="row border border-3 ">
        <div class="col-sm-1 border text-center" style="background-color:rgb(230, 229, 229);">
            <!--
                bloque de likes: icono + numero
                bloques de dislikes: icono + numero
            -->
        </div>
        <div class="col-md border text-break">
            <div class="py-4">
                    <h4> {{review.venue}} </h4>
                    <h5> {{review.sit_sector}} </h5>
                    <p> {{review.content}} </p>
            </div>
        </div>
        {% if review.photo %}
        <div class="col-6 col-md-3 border">
            <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{review.photo.url}}">
        </div>
        {% endif %}
    </div>
    <br>

    