{% extends 'base.html' %}

{% block title %}
  RateYourSeat
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
  <header class="pt-5">
    <div class="container pt-4 pt-xl-5">
      <div class="row pt-5">
        <div class="col-md-8 text-center text-md-start mx-auto">
          <div class="text-center">
            <h1 class="display-4 fw-bold mb-5">La mejor página para reseñas de conciertos</h1>
            <p class="fs-5 text-muted mb-5">Empieza buscando reseñas por lugar o por productoras</p>
            <form class="d-flex justify-content-center flex-wrap" method="post">
              <div class="shadow-lg mb-3"></div>
              <div class="shadow-lg mb-3">
                <button class="btn btn-primary" type="button">VER RESEÑAS</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-12 col-lg-10 mx-auto">
          <div class="text-center position-relative"></div>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="container py-4 py-xl-5">
        {% include 'base_review.html' with review=best_review %}    
    </div>
  </section>
{% endblock %}

{% block scripts %}

{% endblock %}
