{% extends 'app_inicial/base.html' %}

{% block title %}Mis reseñas{% endblock %}

{% block styles %} 
{% endblock %}

{% block content %}
    <section class="theme py-4 py-xl-5"></section>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Mis reseñas</h2>
            </div>
        </div>
        {% if not reviews %}
                <h4 class="text-center" >No tienes reseñas todavía :c</h4>
                <br>
                <div class="text-center">
                    <a class="btn btn-primary" href="/add-review/">Crear una reseña</a>
                </div>
        {% endif %}
        {% for element in reviews %}
        {% include 'base_review.html' with review=element  USER=request.user%}
        {% endfor %}
        
        <div class="modal fade" id="WarningModal" tabindex="-1" aria-labelledby="WarningModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="WarningModalLabel">¡¡Vas a eliminar esta reseña!!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"  data-bs-dismiss="modal">Eliminar Reseña</button>
                    <button type="button" class="btn" style="background-color: gray;color:azure">Cancelar</button>
                </div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>

{% endblock %}
{% block scripts %}
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/startup-modern.js"></script>
{%endblock%}