{% extends 'app_inicial/base.html' %}

{% block title %}Mis reseñas{% endblock %}

{% block content %}
    <section class="theme py-4 py-xl-5"></section>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Mis reseñas</h2>
            </div>
        </div>
        {% if not reviews %}
                <h4 class="text-center" >No tienes reseñas todavía :c</h4>
                <br>
                <div class="text-center">
                    <a class="btn btn-primary" href="/add-review/">Crear una reseña</a>
                </div>
        {% endif %}
        {% for review in reviews %}
        
            <div class="row border border-3 border-primary">
                <div class="col-sm-1 border text-center">
                    <!--
                        bloque de likes: icono + numero
                        bloques de dislikes: icono + numero
                    -->
                </div>
                <div class="col-md border text-break">
                    <div class="py-4">
                            <h4> {{review.venue}} </h4>
                            <h5> {{review.sit_sector}} </h5>
                            <p> {{review.content}} </p>
                            <div class="row row-cols-auto">
                                <button class="btn btn-sm btn-danger" type="button">Eliminar</button>
                                <button class="btn btn-sm btn-primary" type="button">Editar</button>    
                            </div>
                    </div>
                </div>
                {% if review.foto %}
                <div class="col-6 col-md-3 border">
                    <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="{{review.photo}}">
                </div>
                {% endif %}
            </div>
        {%endfor%}
    </div>
    <footer></footer>

{% endblock %}
{% block scripts %}
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/startup-modern.js"></script>
{%endblock%}