{% extends 'base.html' %}

{% block title %} RateYourSeat {% endblock %}

{% comment %} {% block styles %} {% endblock %} {% endcomment %}

{% block content %}



<div class="container pt-4 pt-xl-5">         
        <div class="container py-5">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Buscar reseñas" aria-label="Search" aria-describedby="button-addon2" />
                <button id="button-addon2" class="btn btn-outline-secondary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="input-group mb-3" style="margin-top: 20px;">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filtrar por:</button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Recinto</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
            </div>
        </div>

    {% if not all_reviews %}
            <h4 class="text-center" >No hay reseñas disponible aún.</h4>
            <br>
            <div class="text-center">
                <a class="btn btn-primary" href="/add-review/">Crear una reseña</a>
            </div>
    {% endif %}

    {% for element in all_reviews %}
    {% include 'base_review.html' with review=element %}
    {% endfor %}

    <a href="/add-review" class="btn floating-button btn-floating">+</a>
</div>
{% endblock %}

{% block scripts %} {% endblock %}